.bg-blur {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
}

.no-focus-outline:focus {
  outline: none !important;
  box-shadow: none !important;
  background-color: initial !important;
}

.header,
.footer {
  position: absolute;
  width: 100%;
}

.header {
  color: #fff;
  top: 0;
}

.footer {
  bottom: 0;
}

.dropdown-item:hover {
  background: rgba(255, 255, 255, 0.1);
}